<mat-toolbar class="navbar" color="primary" role="header">
    <span>Quiz System of Doom</span>

    <span class="placeholder"> </span>

    <a mat-button *ngIf=" isLoggedIn() && !isMainPage()" routerLink="/main">
      Quizzes
    </a>

    <a mat-button *ngIf=" isLoggedIn() && !isTrialsPage()" routerLink="/quiz-trials">
      My Trials
    </a>

    <a mat-button *ngIf="isLoggedIn()" routerLink="/profile-page">
      {{ getUsername() }}'s Profile
    </a>

    <button mat-flat-button color="primary">
      <img src="assets/images/24px/white/info-white-24dp.svg">
      About
    </button>
</mat-toolbar>
