.content {
    width: 40%;
    margin: auto;
}

.quiz-list {
    width: 100%;
    height: 100%;
}

.quiz-title {
    font-size: 1.6rem;
    margin: auto;
}

.tags {
    margin-left: 1.5rem;
    flex: 1 1 auto;
}