<body class="profile-body">
<h2>Profile</h2>

<div class="profile-img">
  <img mat-card-image src="assets/umbrella.jpg">
</div>
<form>
  <div>
    <mat-card>
      <mat-card-title>Name: {{profile.username}}</mat-card-title>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-title>Email: {{profile.email}}</mat-card-title>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-title>Country: {{profile.country}} </mat-card-title>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-title>Phone: {{profile.phone}}</mat-card-title>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-title>Origin: {{profile.origin}}</mat-card-title>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-title>Founded: {{profile.founded}}</mat-card-title>
    </mat-card>
  </div>
  <div *ngIf="isCompany">
    <button mat-raised-button type="submit" [routerLink]='["/company-profile-edit"]'>Edit Profile</button>
  </div>

</form>
</body>
