
<mat-tab-group #tabGroup class="question-tabs" fxFlex="grow">
    <mat-tab *ngFor="let question of questions; let i = index" label="Question {{ i }}">
        <div class="question-pane" fxLayout="column" fxFlex="grow" fxLayoutAlign="center">
            <div class="question-content" fxLayout="column">
                <mat-label class="description">
                    {{ question.description }}
                </mat-label>
                <mat-divider class="divide-line" fxFlex="grow">
                </mat-divider>
                <div class="question-body" fxLayout="row">
                    <div fxLayout="column" fxLayoutGap="0.5rem">
                        <mat-checkbox *ngFor="let option of question.options; let j = index" 
                            [(ngModel)] = "currentOptions[j]" [id]=" 'option-' + j">
                            {{ option }}
                        </mat-checkbox>
                    </div>

                    <div class="placeholder">

                    </div>

                    <div fxLayout="column" fxFlex="grow">
                        <mat-progress-bar class="progress-bar" mode="determinate" [value]="percentage"></mat-progress-bar>
                        <div fxFlex="grow"></div>
                        <div fxLayout="row">
                            <div fxFlex="grow"></div>
                            <button class="next-button" mat-raised-button color="primary"  (click)="onNextQuestion()">
                                {{ questions.length === i + 1 ? 'Finish' : 'Next' }}
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>