<body class="profile-body">
<h2>Profile</h2>

<div class="profile-img">
  <img mat-card-image src="assets/placeholder.jpg">
</div>
<form>
  <div>
    <mat-card>
    <mat-card-content>Name:{{profile.name}}</mat-card-content>
  </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-title>Email: {{profile.email}}</mat-card-title>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-title>CV: {{profile.cv}}</mat-card-title>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-title>Phone: {{profile.phone}}</mat-card-title>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-title>Nationality: {{profile.nationality}}</mat-card-title>
    </mat-card>
  </div>
  <div>
    <mat-card>
      <mat-card-title>Residency: {{profile.residency}}</mat-card-title>
    </mat-card>
  </div>
  <div *ngIf ="isCompany" >
    <mat-form-field>
      <input matInput placeholder="How many days to answer?">
    </mat-form-field>
    <button mat-raised-button type="submit">Send Interview Request</button>
  </div>

  <mat-divider></mat-divider>

  <div *ngIf="isDeveloper">
    <button mat-raised-button type="submit">Edit Profile</button>

  <mat-divider></mat-divider>

  <h2>Your Interview Requests</h2>


    <mat-card class="card" fxLayout="row">
      <img class="card-img" mat-card-image src="assets/umbrella.jpg">
      <mat-card-header>
        <mat-card-title>Company Name</mat-card-title>
        <mat-card-content>
        <p>
          Terrible work hours for so little money.
        </p>
          <mat-card-footer> You have # days to answer! </mat-card-footer>
        </mat-card-content>
      </mat-card-header>
    </mat-card>

  <mat-divider></mat-divider>

    <mat-card class="card" fxLayout="row">
      <img class="card-img" mat-card-image src="assets/umbrella.jpg">
      <mat-card-header>
        <mat-card-title>Company Name</mat-card-title>
        <p>
          <mat-card-content>Terrible work hours with so little money</mat-card-content>
          <mat-card-footer> You have # days to answer! </mat-card-footer>
        </p>
      </mat-card-header>
    </mat-card>
  </div>
</form>
</body>

