.profile-body {
  text-align: center;
}

.profile-img{
  max-width: 100px;
  max-height: 150px;
  margin: auto;
}

mat-form-field {
  margin-right: 12px;
}

.card {
  width: 400px;
  margin: auto;
}

.card-img{
  max-width: 100px;
  max-height: 100px;
  margin-left: 0rem;
}
