<body class="profile-body">
<h2>Edit Profile</h2>

<div fxFlexAlign="center">
  <img mat-card-image src="assets/placeholder.jpg" >
</div>
<form>
  <div>
    <mat-form-field>
      <input matInput placeholder="Name"required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Email address" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Country" type="text" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Phone" type="text" required>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Origin">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <input matInput placeholder="Founded" >
    </mat-form-field>
  </div>

  <button mat-raised-button type="submit">Update Profile</button>
  <div class="clearfix"></div>
</form>
</body>
