<body class="profile-body">
<h2>Edit Profile</h2>

<div fxFlexAlign="center">
  <img class="profile-img" mat-card-image src="assets/umbrella.jpg" >
</div>
<form [formGroup]="newProfileForm" (ngSubmit)="onSubmit(newProfileForm.value)">
  <div>
    <mat-form-field>
      Name: {{profile.username}} <input matInput formControl="name">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      Email: {{profile.email}} <input matInput formControl="email">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      Country: {{profile.country}} <input matInput formControl="country">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      Phone: {{profile.phone}} <input matInput formControl="phone">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      Origin: {{profile.origin}} <input matInput formControl="origin">
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      Founded: {{profile.founded}} <input matInput formControl="founded" >
    </mat-form-field>
  </div>

  <button mat-raised-button type="submit">Update Profile</button>
  <div class="clearfix"></div>
</form>
</body>
