<mat-list class="quiz-list" fxLayoutAlign="start center" fxLayout="column" fxLayoutGap="1rem">
    <mat-list-item class="quiz-list-item" *ngFor="let quiz of Quizzes">
        <mat-card fxFlex="grow">
            <mat-card-content>
                <div matLine fxLayout="row">
                    <mat-label class="quiz-title">
                        {{ quiz.title }}
                    </mat-label>
                    <div class="tags" fxLayout="row" fxLayoutGap="0.5rem">
                        <button mat-flat-button color="accent" *ngFor="let tag of quiz.tags">
                            {{ tag }}
                        </button>
                    </div>
                </div>
                <div matLine fxLayout="row" fxLayoutGap="0.5rem">
                    <button mat-raised-button color="primary">Details</button>
                    <div class="placeholder"></div>
                    <mat-label class="no-of-attempts">TODO: # of attempts</mat-label>
                    <button mat-raised-button color="primary">Start!</button>
                </div>
            </mat-card-content>
        </mat-card>
    </mat-list-item>
</mat-list>