.quiz-list {
    margin: 2rem auto;
    width: 40%;
    height: 100%;
}

.quiz-title {
    font-size: 1.6rem;
    margin: auto;
}

.quiz-list-item {
    width: 40%;
    margin: 2rem;
}

.no-of-attempts {
    margin: auto;
}

.tags {
    margin-left: 1.5rem;
    flex: 1 1 auto;
}

.placeholder {
    flex: 1 1 auto;
}